:root {
    --first-color: #d90062;
    --first-alpha-color: rgba(217, 0, 98, 0.75);
    --second-color: #14192d;
    --second-alpha-color: rgba(20, 25, 45, 0.75);
    --third-color: #501464;
    --third-alpha-color: rgba(80, 20, 100, 0.75);
    --white-color: #fff;
    --gray-light-color: #f3f3f3;
    --gray-color: #ccc;
    --gray-dark-color: #666;
    --black-color: #000;
    --link-color: #509ee3;
    --title-color: #333;
    --text-color: #222;
    --white-alpha-color: rgba(255, 255, 255, 0.5);
    --black-alpha-color: rgba(0, 0, 0, 0.5);
    --font: 'Montserrat', sans-serif;
    --max-width: 1200px;
    --header-height: 4rem;
}

/* ********** Reset ********** */
html {
    box-sizing: border-box;
    font-family: var(--font);
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    overflow-x: hidden;
    color: var(--text-color);
    font-size: 16px;
    height: 100vh;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--link-color);
    transition: all 0.5s ease-out;
}

a:hover {
    opacity: 0.75;
}

h1 {
    margin: 0;
    font-size: 2rem;
}

h2 {
    margin: 0;
    font-size: 1.5rem;
}

h3 {
    margin: 0;
    font-size: 1.25rem;
}

h4 {
    margin: 0;
    font-size: 1rem;
}

h5 {
    margin: 0;
    font-size: 0.85rem;
}

h6 {
    margin: 0;
    font-size: 0.7rem;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    line-height: 1.6;
    font-size: 1.6rem;
}


/* ******* Utilities ***** */
.box-shadow-1 {
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.25);
}

.container {
    margin: 0 auto;
    max-width: var(--max-width)
}

.button {
    background-color: var(--first-color);
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    color: var(--white-color);
    text-transform: uppercase;
}

.avatar {
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.text-first-color {
    color: var(--first-color);
}

/* ******* Components ***** */
/* btn hamburger */
.menu-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
}

.line {
    fill: none;
    stroke: #fff;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}

.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}

.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.hiden {
    opacity: 0;
    visibility: hidden;
}

.is-active {
    display: none;
}

.menu__mobile {
    position: absolute;
    top: 5rem;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #14192d;
    position: fixed;
    transition: .3s ease;
}

.menu__mobile a {
    width: 100%;
    padding: 1rem 0;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    color: var(--white-color);
}

.menu__mobile a:hover {
    background-color: var(--first-color);
}

/* ******* site styles ***** */

.header {
    padding: 1rem;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 5rem;
    background-color: var(--second-color);
}

.header>.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.log a {
    color: var(--white-color);
    font-weight: bold;
    font-size: 2rem;
}


/* section 1 home  */
.home {

    width: 100%;
    height: 100vh;
    margin-top: 5rem;
}

.hero__image {
    background-image: var(--image);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: var(--attachment);
}

.hero__opacity {
    background-color: var(--hero-opcity);
    height: 100vh;
}

.hero__image__content {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: var(--white-color);
}

.hero__image__content h5 {
    text-align: center;
    font-size: clamp(3rem, 10vw, 5rem);
}

/* section 2 acerca  */

.about {
    width: 100%;
}

.about__container {
    width: 94%;
    margin: 2rem auto;
}

.about__container article {
    margin-bottom: 5rem;
}

.about__container article h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
}

.about__container article h5 {
    text-align: center;
    margin-top: 0;
    font-size: 1rem;
    color: var(--black-color)
}

.about__container h4 {
    text-align: center;
    font-size: 1.6rem;
}

.about__container article p {
    font-size: 1rem;
}

.about__container article a {
    display: block;
    text-align: center;
}

#photo-james {
    margin-bottom: 3rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.skills li {
    background-color: var(--gray-color);
    margin-bottom: 1rem;
    padding: 1rem 0;
    text-transform: uppercase;
    border-radius: 10px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    user-select: none;
    font-weight: 700;
}

/* section 4 proyectos */
.portfolio {
    width: 100%;
}

.portfolio__container {
    width: 94%;
    margin: 0 auto;
}

.portfolio__title {
    padding: .5rem;
    margin: 0 auto 2rem auto;
    width: 250px;
    text-align: center;
    border-top: thin solid var(--first-color);
    border-bottom: thin solid var(--first-color);
}

.modal {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black-alpha-color);
    opacity: 0;
    pointer-events: none;
    transition: all 1s;
    height: 100vh;
}

.modal__content {
    position: relative;
}

.modal__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.modal__close svg {
    width: 3rem;
    height: 3rem;
    fill: var(--first-color);
}

.modal[id|='trabajo']:target {
    opacity: 1;
    pointer-events: auto;
}

.portafolio-modal {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    max-width: 400px;
    max-height: 800px;
    background-color: var(--white-color);
}

.portafolio-modal h3 {
    margin: 1rem auto;
    padding: .5rem 0;
    border-bottom: medium solid var(--first-color);
    color: var(--title-color);
}

.portafolio-modal p {
    font-size: 15px;
}

.portafolio__modal img {
    width: 400px;
}

.porfolio-details {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: auto;
}

.portfolio-info {
    align-self: center;
}

/* section carousel  */

@keyframes carousel-slide {
    0% {
        transform: translateX(0%);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-75%);
    }

}

.testimonials__container {
    max-width: 1200px;
}

.testimonials {
    margin: 3rem 0;
}

.carousel-title {
    padding: .5rem;
    margin: 0 auto 2rem auto;
    width: 250px;
    color: var(--title-color);
    text-align: center;
    border-top: thin solid var(--first-color);
    border-bottom: thin solid var(--first-color);
}


.carousel {
    display: grid;
    place-content: center;
    margin: 1rem auto;
    padding: 2rem auto;
    min-width: 800px;
    height: 400px;
    text-align: center;
    background-color: var(--carousel-bg-color);
    overflow-x: hidden;
}

.carousel .slides {
    display: flex;
    width: 400%;
    transition: transform .5s ease-in-out;
    animation: carousel-slide 12s ease-in-out 2s;

}

#slide-1:checked~.slides {
    transform: translateX(0%);
}

#slide-2:checked~.slides {
    transform: translateX(-25%);
}

#slide-3:checked~.slides {
    transform: translateX(-50%);
}

#slide-4:checked~.slides {
    transform: translateX(-75%);
}

#slide-1:checked~.slides-nav label#dot-1,
#slide-2:checked~.slides-nav label#dot-2,
#slide-3:checked~.slides-nav label#dot-3,
#slide-4:checked~.slides-nav label#dot-4 {
    background-color: var(--gray-dark-color);
}

.carousel input {
    display: none;
}

.carousel label {
    display: inline-block;
    width: .75rem;
    height: .75rem;
    border: medium solid var(--gray-dark-color);
    border-radius: 50%;
    cursor: pointer;
}

blockquote {
    color: var(--black-color);
}


/* section 4 contacto  */
.contact {
    width: 100%;
}

.contact__container {
    width: 94%;
    margin: 0 auto;
}

.contact__container h3 {
    color: var(--title-color);
    text-align: center;
    font-size: 1.6rem;
}

.contact-card {
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.contact article {
    margin: 2rem 0;
}

.contact article aside {
    margin-bottom: 1rem;

}

.contact article aside h4 {
    text-transform: uppercase;
}

.contact-card>svg {

    width: 3rem;
    height: 3rem;
    fill: var(--first-color);
}

.contact-card>small {
    margin-top: -1rem;
}

@media screen and (min-width:768px) {
    .contact .contact-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}

/* formulario  */
.contact-form {
    margin: 1rem 0;
    padding: 1rem;
    max-width: 800px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 390px;
}

.contact-form>* {
    padding: .5rem;
    margin: 1rem auto;
    display: block;
    width: 100%;
}

.contact-form input,
.contact-form textarea {
    font-size: .85rem;
    font-family: var(--font);
}

.contact-form textarea {
    resize: none;
}

.contact-form input {
    border: none;
    border-bottom: thin solid var(--gray-dark-color);
}

.contact-form .button {
    width: 50%;
    border: none;
    cursor: pointer;
}

.modal#gracias:target {
    opacity: 1;
    pointer-events: 0;
}

.contact-form-loader {
    text-align: center;
}

.contact-form-response {
    padding: 1rem;
    width: 400px;
    text-align: center;
    background-color: var(--white-color);
    margin: 0 auto;
}

.contact-form-response>svg {
    margin-top: 2rem;
    width: 4rem;
    height: 4rem;
    fill: var(--first-color);
}