:root {
    --first-color: #d90062;
    --first-alpha-color: rgba(217, 0, 98, 0.75);
    --second-color: #14192d;
    --second-alpha-color: rgba(20, 25, 45, 0.75);
    --third-color: #501464;
    --third-alpha-color: rgba(80, 20, 100, 0.75);
    --white-color: #fff;
    --gray-light-color: #f3f3f3;
    --gray-color: #ccc;
    --gray-dark-color: #666;
    --black-color: #000;
    --link-color: #509ee3;
    --title-color: #333;
    --text-color: #222;
    --white-alpha-color: rgba(255, 255, 255, 0.5);
    --black-alpha-color: rgba(0, 0, 0, 0.5);
    --font: 'Montserrat', sans-serif;
    --max-width: 1200px;
    --header-height: 4rem;
}

/* ********** Reset ********** */
html {
    box-sizing: border-box;
    font-family: var(--font);
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    overflow-x: hidden;
    color: var(--text-color);
    font-size: 16px;
    height: 100vh;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--link-color);
    transition: all 0.5s ease-out;
}

a:hover {
    opacity: 0.75;
}

h1 {
    margin: 0;
    font-size: 2rem;
}

h2 {
    margin: 0;
    font-size: 1.5rem;
}

h3 {
    margin: 0;
    font-size: 1.25rem;
}

h4 {
    margin: 0;
    font-size: 1rem;
}

h5 {
    margin: 0;
    font-size: 0.85rem;
}

h6 {
    margin: 0;
    font-size: 0.7rem;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    line-height: 1.6;
    font-size: 1.6rem;
}


/* ******* Utilities ***** */
.box-shadow-1 {
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.25);
}

.container {
    margin: 0 auto;
    max-width: var(--max-width)
}

.button {
    background-color: var(--first-color);
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    color: var(--white-color);
    text-transform: uppercase;
}

/* ******* Components ***** */
/* btn hamburger */
.menu-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
}

.line {
    fill: none;
    stroke: #fff;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}

.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}

.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.hiden {
    opacity: 0;
    visibility: hidden;
}

.is-active {
    display: none;
}

.menu__mobile {
    position: absolute;
    top: 5rem;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #14192d;
    position: fixed;
    transition: .3s ease;
}

.menu__mobile a {
    width: 100%;
    padding: 1rem 0;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    color: var(--white-color);
}

.menu__mobile a:hover {
    background-color: var(--first-color);
}

/* ******* site styles ***** */

.header {
    padding: 1rem;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 5rem;
    background-color: var(--second-color);
}

.header>.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.log a {
    color: var(--white-color);
    font-weight: bold;
    font-size: 2rem;
}


/* section 1 home  */
.home {

    width: 100%;
    height: 100vh;
    margin-top: 5rem;
}

.hero__image {
    background-image: var(--image);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: var(--attachment);
}

.hero__opacity {
    background-color: var(--black-alpha-color);
    height: 100vh;
}

.hero__image__content {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: var(--white-color);
}

.hero__image__content h5 {
    text-align: center;
    font-size: clamp(3rem, 10vw, 5rem);
}