:root {
    --first-color: #d90062;
    --first-alpha-color: rgba(217, 0, 98, 0.75);
    --second-color: #14192d;
    --second-alpha-color: rgba(20, 25, 45, 0.75);
    --third-color: #501464;
    --third-alpha-color: rgba(80, 20, 100, 0.75);
    --white-color: #fff;
    --gray-light-color: #f3f3f3;
    --gray-color: #ccc;
    --gray-dark-color: #666;
    --black-color: #000;
    --link-color: #509ee3;
    --title-color: #333;
    --text-color: #222;
    --white-alpha-color: rgba(255, 255, 255, 0.5);
    --black-alpha-color: rgba(0, 0, 0, 0.5);
    --font: 'Montserrat', sans-serif;
    --max-width: 1200px;
    --header-height: 4rem;
}

/* style navbar */

@media screen and (min-width:1021px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-btn {
        opacity: 0;
        visibility: hidden;
    }

    .menu__mobile {

        align-items: center;
        justify-content: space-between;
        width: 700px;
        height: 3rem;
        opacity: 1;
        visibility: visible;
        position: sticky;
        flex-direction: row;
    }

    .menu__mobile a {
        font-size: 1.2rem;
        padding: 0;
    }

    .menu__mobile a:hover {
        background-color: transparent;
    }

}


/* section 2  */

.about__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;

    gap: 3rem;
}

.about__container article h2,
.about__container article h5 {
    text-align: right;
}

.about__container article p {

    text-align: right;
}


/* section 3 portfolio */
.portfolio__container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.portafolio-modal {
    flex-direction: row;
    max-width: 800px;
    height: auto;
}

.portafolio-modal img {
    width: 400px;
    height: 400px;
    margin-right: 1rem;
}